.atelier-area p {
  font-size: 27px;
  font-weight: 300;
}

.atelier-area-text-special {
  padding-top: 20px;
}

.atelier-area h3 {
  font-size: 27px;
  font-weight: 700;
  padding-bottom: 10px;
}

.atelier-area-room-text {
  padding-top: 40px;
  padding-bottom: 30px;
}

.atelier-area-room-text-special {
  padding-top: 100px;
}

.atelier-area h2 {
  margin-bottom: 20px;
}

.atelier-area img {
  padding-top: 30px;
  padding-bottom: 20px;
}

.atelier-area .row {
  margin-bottom: 20px;
}

.atelier-area .col-5 {
  padding-left: 40px;
  padding-right: 40px;
}

.atelier-area {
  margin-bottom: 40px;
}
