.reserving-button {
  color: white;
  text-align: center;
  padding-top: 110px;
}
.reserving-button:hover {
  text-decoration: underline;
  color: white;
}

.club-button {
  background-color: #0d6fb8;
  color: white;
  text-align: center;
  padding: 19px 10px 19px 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.club-button:hover {
  text-decoration: underline;
  background-color: #138be5;
}
