.club-area h3 {
  font-size: 37px;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 3px;
}

.club-area p {
  font-size: 27px;
  font-weight: 300;
  padding-top: 10px;
  padding-left: 3px;
  padding-bottom: 10px;
}

.club-area-artist-poster {
  margin-bottom: 20px;
}

.club-area {
  margin-bottom: 40px;
}

.club-area h2 {
  margin-bottom: 20px;
}
