.expositions-area a {
  font-size: 40px;
  font-weight: 300;
  padding-left: 78px;
  padding-top: 80px;
}

.expositions-area a:hover {
  color: white;
}

.expositions-area .row {
  margin-bottom: 20px;
}

.expositions-area {
  margin-bottom: 110px;
}
