.eikonica-univers p {
  font-size: 18px;
}

.eikonica-univers-water-video {
  margin-bottom: 40px;
}

.eikonica-univers-selfie img {
  margin-bottom: 20px;
}

.eikonica-univers-selfie p {
  margin-bottom: 90px;
}

.eikonica-univers-ocean-wall img {
  margin-bottom: 12px;
}

.eikonica-univers-kids-drawing p {
  padding-top: 340px;
}

.eikonica-univers {
  margin-bottom: 40px;
}
