.eikonica-univers p {
  font-size: 18px;
}

.water-video {
  margin-bottom: 40px;
}

.selfie img {
  margin-bottom: 20px;
}

.selfie p {
  margin-bottom: 90px;
}

.ocean-wall img {
  margin-bottom: 12px;
}

.kids-drawing p {
  padding-top: 340px;
}

.eikonica-univers {
  margin-bottom: 40px;
}
