.food-truck-area a {
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 10px;
}

.food-truck-area a:hover {
  color: white;
}

.food-truck-area h2 {
  margin-bottom: 20px;
}

.food-truck-red {
  padding: 40px 20px 21px 40px;
}

.food-truck-blue {
  padding: 40px 59px 71px 40px;
}

.food-truck-green {
  padding: 40px 20px 52px 40px;
}

.food-truck-area {
  margin-bottom: 40px;
}
