.header-end p {
  font-size: 16px;
  color: #3e3e3e;
}

.header-end-mouse-cara {
  width: 30%;
  height: 30%;
  margin-top: 60px;
}

.header-end-eikon-tv-cara {
  margin-bottom: 40px;
}

.header-end {
  margin-bottom: 40px;
}
