.info-area h3 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 10px;
}

.info-area p {
  font-size: 25px;
  font-weight: 300px;
}

.info-area a {
  font-size: 25px;
}

.link-text:hover {
  text-decoration: underline;
  color: #0d6fb8;
}

.info-area h2 {
  margin-bottom: 20px;
}

.contact-text {
  text-align: center;
}

.contact-text-area {
  margin-top: 100px;
  margin-bottom: 0px;
}

.deer-cara {
  margin-bottom: 50px;
  position: relative;
  top: 0%;
  left: 5%;
}
