.movie-area h3 {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 20px;
}

.movie-area p {
  font-size: 18px;
  font-weight: 300;
}

.movieposter {
  width: 100%;
}

.movie-area h2 {
  margin-bottom: 20px;
}

.movie-area {
  margin-bottom: 40px;
}
