nav a {
  color: white;
  font-size: 14px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  text-align: center;
  padding: 35px 20px 30px 20px;
}

.everything-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-elements {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 15px;
  margin-right: 20px;
}

.right-nav {
  display: flex;
  flex-direction: row;
}

.right-element-nav {
  margin-right: 10px;
}
